h1 {
    font-family: 'playfair display medium', serif;
    font: size 32px;
    ;
}

h2 {
    font-family: 'playfair display medium', serif;
    font-size: 20px;

}

h3 {
    font-family: 'playfair display regular', serif;
    font-size: 18px;
}

h4 {
    font-family: 'playfair display medium', serif;
    font-size: 16px;
}

h5 {
    font-family: 'Garet', serif;
    font-size: 12px;
}

h6 {
    font-family: 'Garet', serif;
    font-weight: lighter;
    font-size: 8px;
}

bodytext {
    font-family: 'Garet', serif;
    font-weight: lighter;
    font-size: 14px;
}

.main {
    background-color: rgba(242, 242, 242, 1);
    ;

}

.titre {
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}

.titre__hr {
    width: 40%;
    border: 0.5px solid black;
}

.titre__intro {
    text-align: center;
    font-family: 'Garet', serif;
    font-weight: lighter;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 80px;
}

.title__bg {
    position: absolute;
    z-index: -1;
}

.forms {
    margin-top: 120px;
}

.navbar {
    position: absolute;
    padding: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
}

.navbar__logo {
    width: 100px;
    height: 100px;
}


.button__home {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 50px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}