.blur {
    height: 6px;
    width: 100%;
    background-color: black;

    position: absolute;
    z-index: -1;

    margin-top: 20px;
    filter: blur(10px);
}

.footer {
    background-color: white;
    margin-top: 20px;
}

.footer__content {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;
}

/* .footer__content--logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.footer__content-down {
    display: grid;
    grid-template-columns: 75% 25%;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.footer__content--logo--img {
    width: 100px;
    height: 100px;
}

.footer__content-reseaux--lien .footer__liste {
    list-style: none;
}

.footer__liste-content {
    text-decoration: none;
    color: black;
}

.footer__liste-content--nav {
    text-decoration: none;
    color: black;
}

.footer__liste-content--nav--lien {
    text-decoration: none;
    color: black;
}

.footer__content-nav--list {
    list-style: none;
}

.footer__liste-nav--list--text {
    text-decoration: none;
    color: black;
    font-family: 'Garet', serif;
    font-weight: lighter;
    margin-left: -50px;
}

.footer__content-reseaux--lien {
    text-decoration: none;
    margin-left: 5px;
}

.footer__content-first {
    display: grid;
    grid-template-columns: 75% 25%;
    align-items: center;
}

.footer__content-ml {
    font-family: 'Garet', serif;
    font-weight: normal;

    margin-left: 30px;

    color: black;
}

.footer__content-ml-a {
    text-decoration: none;
    color: black;
}