.blur {
    height: 6px;
    width: 100%;
    background-color: black;

    position: absolute;
    z-index: -1;

    margin-top: 20px;
    filter: blur(10px);
}

footer {
    background-color: white;
    margin-top: 20px;
}

.footer__liste {
    list-style: none;
}

.footer__liste-content {
    text-decoration: none;

    color: black;
}