.tarif {
    display: grid;
    grid-template-columns: 175px 175px;
}

.titre{

}

.information{

}

.information__intitule{

}

.information__text--red{
        color: red;
        font-weight: normal;
}
.information__text{

}